
@{
    ViewBag.Title = "Index";
}

<h2>Store View</h2>

<a id="backbutton" class="btn btn-default" href="https://localhost:44378/Home/Index" role="button"><img src="~/Images/backbutton2.png" height="50" width="50"></a>
