
@{
    ViewBag.Title = "Index";
}
<a id="backbutton" class="btn btn-default" href="https://localhost:44362/Home/Index" role="button"><img src="~/Images/backbutton2.png" height="50" width="50"></a>

<h2>Enter Password</h2>
<div class="row">
    <div class="col-lg-3">
        <div class="input-group">
            <input type="text" id="passwordText" class="form-control" placeholder="Password..." />
            <span class="input-group-btn">
                <button class="btn btn-default" onclick="myFunction()" type="button">Go!</button>
            </span>
        </div>@*< !-- /input-group -->*@
    </div>@*< !-- /.col-lg-6 -->*@
</div>
<p id="validation"></p>
<script>
    function myFunction() {
        var inputVal = document.getElementById("passwordText").value;
        var valid;
        if (inputVal < 1000) {
            location.href = 'https://localhost:44362/RequestForm/TransportationScreen';
            valid = "Please wait while we redirect you. Thank You!"
        }
        else {
            valid = "Incorrect Password"
        }
        document.getElementById("validation").innerHTML = valid;
    }
</script>

