
@{
    ViewBag.Title = "Index";
}

@*<h2>Transporation View</h2>*@


<a id="backbutton" class="btn btn-default" href="https://localhost:44378/Home/Index" role="button" ><img src="~/Images/backbutton2.png" height ="50" width="50"></a>

<div style="color:antiquewhite">
    <div class="jumbotron" style="background-color: navy">
        <h1 style="text-align:center">Hobby Lobby Transportation</h1>
        <p class="lead" style="color: antiquewhite">On this page, you will be able to see store entries, select clean-up dates, and see your truck/trailer number.</p>
    </div>

    <div class="row" style="background-color: darkorange">
        <div class="col-md-4" style="color: antiquewhite">
            <h2>Store Entries</h2>
            <p>
                View submitted store entries below:
            </p>
            @using (Html.BeginForm())
            {
                //This still needs the correct variables assigned
                //@Html.ListBoxFor(i => i.storeEntries, Store.Entry, new { size = 5 })
            }

        </div>
        <div class="col-md-4" style="color: antiquewhite">
            <h2>Clean-Up Date Selection</h2>
            <p>Select a clean-up date below:</p>

            @using (Html.BeginForm())
            {
                //This still needs the correct variables assigned
                //@Html.ListBoxFor(i => i.selectedDates, Truck.Dates, new { size = 5 })
                //<br />
                //<input type="submit" value="Submit" />
            }


        </div>
        <div class="col-md-4" style="color: antiquewhite">
            <h2>Truck/Trailer Number</h2>
            <p>Your truck/trailer number is listed below:</p>
            <p>Truck/Trailer Number Assigned: {}</p>
        </div>
    </div>
</div>

